@use "fonts";
@use "reset";
@use "libs";
@use "vars" as *;
@use "global";
.burger {
  position: relative;
  // width: 30px;
  // height: 25px;
  width: 16px;
  height: 13px;
  background: transparent;
  cursor: pointer;
  display: none;
  margin-right: 14px;

  &__list {
    display: none;
  }
  &__bg {
    background-color: rgb(0, 153, 132);
    width: 45px;
    height: 36px;
    // width: 100%;
    // height: 100%;
    position: absolute;
    top: -10px;
    left: -15px;
    border-radius: 10px;
    &:hover {
      opacity: 0.75;
    }
  }
  &__item {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    z-index: 10;
  }

  &__item:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  &__item:nth-of-type(2) {
    top: 50%;
    // transform: translateY(-50%);
    transform-origin: left center;
  }

  &__item:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  &__list:checked ~ span:nth-of-type(1) {
    transform: rotate(40deg);
    top: 0px;
    height: 2px;
    left: 5px;
  }

  &__list:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  &__list:checked ~ span:nth-of-type(3) {
    transform: rotate(-40deg);
    top: 10px;
    height: 2px;
    left: 5px;
  }
}

.container {
  max-width: 1480px;
  padding-left: 64px;
  padding-right: 64px;
  margin: 0 auto;
}
.nav {
  &__arrow {
    padding: 0 22px 0 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 7px;
      // transform: translate(0, -50%);
      width: 6px;
      height: 6px;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      transform: rotate(45deg);
    }
    
  }
  &__arrow--rotate{
    &::after {
    transform: rotate(225deg);
    }
  }
  &__link {
    &:hover {
      opacity: 0.75;
    }
  }
  &__main {
    font-weight: 600;
    cursor: default;
  }
}
.inside{
  border-radius: 32px;
  box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
  background: linear-gradient(
      185.95deg,
      rgba(0, 0, 0, 0) 13.379%,
      rgba(0, 0, 0, 0.2) 87.338%
    ),
    rgb(36, 206, 134);
  color: rgb(255, 255, 255);
  padding-top: 84px;
  position: relative;
  overflow: hidden;
}
.header {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  // overflow: hidden;
&__container{
  max-width: 1480px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
  }
  &__nav {
    font-weight: 500;
    // display: flex;
    // align-items: center;
    // // gap: 32px;
  }
  &__list {
    display: flex;
    gap: 40px;
  }
  &__action {
    display: flex;
    gap: 12px;
  }
  &__action--mobile {
    display: none;
  }
}
.btn {
  padding: 16px 24px;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.75;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  &__dark {
    width: 100%;
    background: rgb(26, 28, 30);
    &:hover {
      background-color: rgba(26, 28, 30, 0.75);
      //  color: #000000;
    }
  }
  &__primary {
    background: rgb(0, 153, 132);
    &:hover {
      background-color: rgba(0, 153, 133, 0.75);
      //  color: #000000;
    }
  }
  &__download {
    background-color: rgb(36, 206, 134);
    &:hover {
      background-color: rgba(36, 206, 134, 0.75);
      //  color: #000000;
    }
  }
  &__transparent {
    background: transparent;
    color: #ffffff;
    &:hover {
      background-color: rgba(255, 255, 255, 0.28);
      //  color: #000000;
    }
  }
  &__secondary-icon {
    font-size: 24px;
  }
  &__secondary {
    color: rgb(26, 28, 30);
    line-height: 150%;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 14px;
    box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
    background: rgb(255, 255, 255);
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
      //  color: #000000;
    }
  }
}
.hero {
  // display: block;
  // padding-top: 104px;
  // border-radius: 32px;
  // box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
  // background: linear-gradient(185.95deg, rgba(0, 0, 0, 0) 13.379%,rgba(0, 0, 0, 0.2) 87.338%),rgb(36, 206, 134);
  // color: rgb(255, 255, 255);
  &__info {
    display: flex;
    align-items: end;
    row-gap: 64px;
    justify-content: space-between;
    position: relative;
  }
  &__content {
    width: 657px;
    padding-top: 150px;
    padding-bottom: 120px;
    z-index: 5;
  }
  &__title {
    font-size: 64px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.2rem;
  }
  &__title--green {
    color: #037d6d;
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    margin-top: 24px;
    margin-bottom: 64px;
    margin-right: 64px;
  }
  &__action {
    display: flex;
    gap: 16px;
  }
  &__img {
    position: absolute;
    z-index: 1;
    left: 720px;
    // right: 0;
    bottom: -43px;
    width: 560px;
    height: 540px;
  }
  &__pic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  &__footer {
    border-radius: 0px 0px 24px 24px;
    background: rgb(26, 28, 30);
    z-index: 5;
    position: relative;
  }
  &__footer-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    width: 190px;
  }
  &__footer-img {
    height: 40px;
    width: auto;
  }
  &__footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 24px 76px;
    position: relative;
  }
  &__footer-company {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}
.box {
  margin-top: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(213, 212, 212);
  border-radius: 32px;
  box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
  /* Color/White */
  background: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}
.badge {
  &__inner {
    display: inline-flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(13, 13, 18, 0.06);
    background: rgb(255, 255, 255);
    height: 32px;
    width: auto;
    // width: 113px;
    // width: 100%;
  }

  &__ellipse {
    border-radius: 100%;
    border: 2px solid rgb(200, 254, 232);
    background: rgb(35, 159, 108);
    width: 8px;
    height: 8px;
  }
  &__lable {
    color: rgb(10, 10, 10);
    // font-family: 'Satoshi Variable';
    font-size: 12px;
    font-weight: 500;
    line-height: 155%;
  }
}
.coach {
  &__inner {
    padding: 80px 88px;
    margin: 0 auto;
    max-width: 1480px;
    // margin-left: auto;
    width: 100%;
  }
  &__header {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    gap: 16px;
    // display: block;
  }

  &__img {
    border-bottom: 1px solid rgb(213, 212, 212);
  }
  &__title {
    font-family: 'Plus Jakarta Sans';
    font-size: 52px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title--green {
    color: #24ce86;
  }
  &__description {
    color: rgb(84, 90, 96);
    font-family: "Instrument Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 155%;
    text-align: center;
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    // flex-wrap: wrap;
  }
  &__box {
    box-sizing: border-box;
    /* Color/Border */
    border: 1px solid rgb(213, 212, 212);
    border-radius: 16px;
    /* Shadow */
    box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
    /* Color/White */
    background: rgb(255, 255, 255);
    overflow: hidden;
  }
  &__box--additionally {
    padding: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgb(213, 212, 212);
    background-color: rgb(250, 250, 249);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__text--additionally {
    padding: 20px;
  }
  &__text-title {
    color: rgb(26, 28, 30);
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.03rem;
  }
  &__text-description {
    color: rgb(84, 90, 96);
    font-family: "Instrument Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }
}

.how {
  // padding: 80px 120px;
  //   margin: 0 auto;
  //   max-width: 1480px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  &__inner {
    padding: 80px 120px;
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    gap: 55px;
    // max-height: 450px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    // width: 650px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title {
    color: rgb(26, 28, 30);
    font-family: 'Plus Jakarta Sans';
    font-size: 52px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.075rem;
    text-align: left;
  }
  &__description {
    color: rgb(84, 90, 96);
    font-family: 'Instrument Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    text-align: left;
  }
  &__link {
    color: rgb(26, 28, 30);
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.05rem;
    text-align: center;
    display: flex;
    gap: 16px;
    padding: 12px 0;
    &:hover {
      opacity: 0.75;
    }
  }
  &__pic {
    height: 450px;
    // width: 100%;
    min-width: 510px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  &__img {
    // max-width: 510px;
    // max-height: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // width: 100%;
    height: auto;
    display: block;
  }
}
.success {
  &__inner {
    padding: 80px 120px;
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    gap: 55px;

    // max-height: 450px;
  }
  &__pic {
    height: 450px;
    width: auto;
    flex: 1;
  }
  &__img {
    // max-width: 510px;
    // max-height: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // width: 100%;
    height: auto;
    display: block;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 2;
    // width: 650px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title {
    color: rgb(26, 28, 30);
    font-family: 'Plus Jakarta Sans';
    font-size: 52px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.075rem;
    text-align: left;
  }
  &__description {
    color: rgb(84, 90, 96);
    font-family: 'Instrument Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    text-align: left;
  }
  &__link {
    color: rgb(26, 28, 30);
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.05rem;
    text-align: center;
    display: flex;
    gap: 16px;
    padding: 12px 0;
    &:hover {
      opacity: 0.75;
    }
  }
}
.features{
  
  position: relative;
    background-image: url("../images/features.png");
background-repeat: no-repeat;
object-fit: cover;
    background-position: center bottom;
    // background-size: contain;
    background-size: auto 90%;
  &__inner{
    padding: 80px 120px;
margin: 0 auto;
max-width: 1480px;
display: flex;
justify-content: space-between;
align-items: start;
column-gap: 24px;


  }
  &__content{
    margin-top: 80px;
    margin-bottom: 89px;
    display: flex;
    flex-direction: column;
    gap: 81px;
    flex:1;
    justify-content: start;
  }
  &__card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    // justify-content: center;
    // align-content: center;
    align-items: center;

  }
  &__card--first{
    position: relative;
    &::after{
      position:absolute;
      content: "";
      height: 1px;
      width: 80%;
      // top: 40px;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(229, 229, 229);
    }
  }
  &__pic{
    border: 0.5px solid rgb(229, 229, 229);
    border-radius: 100%;
    background: rgb(255, 255, 255);
  }
  &__img{
    padding: 8px;
  }
  &__text{
    display: flex;
    flex-direction: column;
    gap: 4px;
    // justify-content: center;
    align-items: center;
    
  }
  &__title{
    color: rgb(26, 28, 30);
    font-size: 18px;
font-weight: 600;
line-height: 155%;
text-align: center;
  }
  &__description{
    color: rgb(84, 90, 96);
font-family: 'Instrument Sans';
font-size: 16px;
font-weight: 400;
line-height: 160%;
text-align: center;
width: 85%;
  }
}

.cta {
  position: relative;
  width: 100%;
  height: 100%;
    background-image: url("../images/CTA.png");

    // background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    // z-index: 1;
  // }
  &__inner {
    position: relative;
    z-index: 2;
  }
  &__text {
    gap: 20px;
    color: #ffffff;
    // justify-content: center;
    // display: flex;
    // flex-direction: column;
    align-items: center;
  }
  &__title {
    text-align: center;
    color: #fff;
    max-width: 637px;
  }
  &__description {
    text-align: center;
    color: #fff;
    max-width: 770px;
  }
  &__footer {
    width: 305px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer {
  margin-top: 16px;
  border-top: 1px solid rgb(213, 212, 212);
  border-radius: 32px;
  box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
  background: rgb(26, 28, 30);
  color: rgb(255, 255, 255);
  height: 100%;
  &__inner {
    padding: 80px 120px;
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 96px;
    // width: 100%;
    // gap: 55px;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    row-gap: 10px;
  }
  &__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 106px;
    flex: 1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__logo {
    width: 111px;
    height: 64px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__tm {
    font-weight: 400;
  }
  &__social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
  }
  &__social-list {
    display: flex;
    gap: 12px;
    // align-items: center;
    
  }
  &__nav {
    flex: 2;
    display: flex;
    color: rgb(235, 235, 230);
    font-family: "Instrument Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 155%;
    text-align: left;
    width: 100%;
    justify-content: space-between;
    column-gap: 16px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__rules {
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 56px;
    font-family: 'Instrument Sans';
  }
}
.accordionn {
  // background-color: #3695eb;
  // color: #fff;
  cursor: pointer;
  // padding: 6px 12px;
  width: 100%;
  height: auto;
  border: none;
  text-align: left;
  outline: none;
  // font-size: 17px;
  // line-height: 30px;
  transition: 0.4s;
  position: relative;
}

.accordionn.active,
.accordionn:hover {
  // background-color: #ffffff27;
  opacity: 0.75;
}

.panel {
  // background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
  text-align: left;
  position: absolute;
  z-index: 10;
}

.panel__inner {
margin: 0 15px 18px 5px;
  padding: 16px 16px;
  background-color: #009984;
  box-shadow: 0px 10px 11px 0px rgba(10, 10, 10, 0.28);
  border-radius: 14px;
// height: 100%;
}
@media (max-width: 1300px) {
  .how {
    &__inner {
      gap: 32px;
    }
  }
  .features{
    background-size: auto 60%;
  }
}
@media (max-width: 1100px) {
  .hero {
    &__footer-inner {
      padding: 24px 0;
    }
  }
  .how {
    &__pic {
      height: 100%;
      // max-height: 450px;
      width: 100%;
      // max-width: 510px;
      min-width: 0;
    }
    &__img {
      // max-width: 510px;
      // max-height: 450px;
      width: 100%;
      height: 100%;
    }

  }
  .features{
    background-size: auto 50%;
    // &__content--img{
      // flex:2;
    // }
  }
  .footer {
    &__nav {
      flex: 3;
    }
    &__nav {
      column-gap: 10px;
    }
  }
}
@media (max-width:1000px) {
  .features{
    background-size: auto 40%;
    // &__content--img{
      // flex:2;
    // }
  }
}
@media (max-width: 900px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
  }
  .header {
    &__container{
      max-width: 1480px;
      padding-left: 32px;
      padding-right: 32px;
      margin: 0 auto;
    }
  }
  .features{
    background-image:none;
    // &__content--img{
      // flex:2;
    // }
    &__content--img{
      display: none;
    }
    &__inner{
      gap: 16px;
    }
  }
  .coach {
    &__inner {
      padding: 24px;
    }
  }
  .how {
    &__inner {
      padding: 24px;
    }
  }
  .success {
    &__inner {
      padding: 24px;
    }
  }
  .footer {
    &__inner {
      padding: 24px;
    }
  }
}
@media (max-width: 768px) {
  .nav {
    &__list {
      z-index: 3;
    }

    &__mobile {
      position: fixed;
      width: 100%;
      height: 100dvh;
      top: 0;
      left: 0;
      justify-content: space-between;
      flex-direction: column;
      padding: 55px 34px 43px 46px;
      background: #037d6d;
      // border-radius: 0 24px 0px 24px;
      box-shadow: 0px 10px 11px 0px rgba(10, 10, 10, 0.28);
      z-index: 9;
      // left: 150%;
      right: -150%;
      display: flex;
      // gap: 40px;
      height: 100dvh;
    }

    &--active {
      left: 0;
      // right: -20px;
      // left: 50px;
      transition: all 1s;
    }

    &--diactive {
      transform: translateX(150%);
      transition: all 1s;
    }
    &__arrow{
      &::after{
        display: none;
      }
    }
  }
  .header {
    &__list {
      flex-direction: column;
    }
    &__action--mobile {
      display: flex;
    }
    &__action--desc {
      display: none;
    }
  }
  .burger {
    display: block;
//   &--move{
// right: 75dvw;
//     display: flex;
//     transition: all 1s;
//   }
  }
  .inside{
    height: calc(100dvh - 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .panel{
    &--mobile{
min-height: 100%;
box-shadow: none;
    }
    &__inner--mobile{
      box-shadow: none;
      background-color: transparent;
      padding: 40px;
    }
    &__list--mobile{
      row-gap: 30px;
    }
  }
  .hero {
    &__title {
      font-size: 42px;
      font-weight: 700;
      line-height: 130%;
    }
    &__footer-text {
      width: 100%;
    }
    &__footer-inner {
      flex-direction: column;
      gap: 12px;
      justify-content: center;
    }
    &__footer-company {
      width: 100%;
    }
    &__action{
      flex-direction: column;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: calc(100dvh - 260px);
      padding-top: 12px;
    padding-bottom: 0;
      // align-items: center;
    }
    &__img{
      display: none;
    }
    &__text{
      // padding: 0;
      margin-top: 24px;
      margin-bottom: 32px;
      margin-right: 0;
    }
    &__footer-text{
      text-align: center;
    }
    &__footer-company{
      gap: 16px;
    }
  }
  .coach {
    &__content {
      flex-direction: column;
    }
    &__text{
      text-align: center;
    }
    &__title {
      font-size: 42px;
      font-weight: 700;
      line-height: 130%;
      text-align: center;
    }
    &__header{
      margin-bottom: 16px;
    }
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .how {
    &__inner {
      flex-direction: column;
    }
    &__content {
      justify-content: center;
    }
    &__title {
      text-align: center;
      font-size: 42px;
      font-weight: 700;
      line-height: 130%;
    }
    &__description {
      text-align: center;
    }
    &__link {
      padding: 12px 16px;
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 12px;
      /* Shadow */
      box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
      /* Color/White */
      background: rgb(255, 255, 255);
    }
  }
  .success {
    &__inner {
      flex-direction: column;
      gap: 16px;
    }
    &__pic {
      flex: 1;
    }
    &__content {
      justify-content: center;
    }
    &__text {
      text-align: center;
    }
    &__title {
      text-align: center;
    }
    &__title {
      font-size: 42px;
      font-weight: 700;
      line-height: 130%;
    }
    &__description {
      text-align: center;
    }
    &__content {
      flex: 1;
    }
    &__link {
      padding: 12px 16px;
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 12px;
      /* Shadow */
      box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.08);
      /* Color/White */
      background: rgb(255, 255, 255);
    }
  }
  .features{
    &__inner{
      padding: 24px;
      gap: 40px;
      flex-direction: column;
      align-items: center;
    }
    &__content{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .cta {
    
    &__content {
      gap: 16px;
    }
    &__title {
      font-size: 42px;
      font-weight: 700;
      line-height: 130%;
    }
    &__footer {
      max-width: 205px;
  }
  }
  .footer {
    &__inner {
      gap: 32px;
    }
    &__nav {
      flex: 3;
    }
    &__nav {
      display: none;
    }
    &__rules {
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
    }
    &__logo {
      margin-left: auto;
      margin-right: auto;
    }
    &__conteiner {
      gap: 8px;
      text-align: center;
      // justify-content: center;
    }
    &__social {
      // justify-content: center;
      text-align: center;
    }
    &__social-list {
      justify-content: center;
    }
  }
}
